body { font-family: 'Noto Sans KR', sans-serif; padding: 0; margin: 0; background: #000000;}

/* Index page property*/
.guide {    
  user-select: none;
  text-align: center;
  margin-bottom: 30px;
  color:white;
  font-size: 1.3rem;
}

.guide-container {
  position:absolute;
  left: 50%; top: 50%; transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background-color: black;
}

.link {
  pointer-events: none;
  position:absolute;
  left: 50%; top: 50%; transform: translate(-50%, -50%);
  height: 50%;
  width: 50%;
}

.text {
  position: absolute;
  left: 50%;
  top: 50%; 
  transform: translate(-58%, -55%);
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
}

.intro-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
  user-select: none;
}

.intro-container video {
  min-width: 80%; 
  min-height: 100%; 
  user-select: none;
  
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: 80%;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.m-collapse {
  pointer-events: none;
  user-select: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
